# Docker Upstart and SysVinit configuration file

#
# THIS FILE DOES NOT APPLY TO SYSTEMD
#
#   Please see the documentation for "systemd drop-ins":
#   https://docs.docker.com/engine/articles/systemd/
#

# Customize location of Docker binary (especially for development testing).
#DOCKERD="/usr/local/bin/dockerd"

# Use DOCKER_OPTS to modify the daemon startup options.
#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"
{% if not is_systemctl_present %}
DOCKER_OPTS="{% if docker_opts is defined and docker_opts %}{{ docker_opts | join(' ')}}{% endif %}{% if docker_insecure_registries is defined and docker_insecure_registries %} {{ '--insecure-registry ' + ' --insecure-registry '.join(docker_insecure_registries) }}{% endif %}{% if docker_registry_mirrors is defined and docker_registry_mirrors %} {{ '--registry-mirror=' + ' --registry-mirror='.join(docker_registry_mirrors) }}{% endif %}"
{% endif %}

# If you need Docker to use an HTTP proxy, it can also be specified here.
#export http_proxy="http://127.0.0.1:3128/"

export no_proxy="localhost,127.0.0.0/8{% if docker_insecure_registries is defined and docker_insecure_registries %}{% for registry in docker_insecure_registries %},{{ registry.split(':')[0] }}{% endfor %}{% endif %}"
export NO_PROXY="localhost,127.0.0.0/8{% if docker_insecure_registries is defined and docker_insecure_registries %}{% for registry in docker_insecure_registries %},{{ registry.split(':')[0] }}{% endfor %}{% endif %}"
{% if http_proxy is defined and http_proxy %}
export http_proxy={{ http_proxy }}
export HTTP_PROXY={{ http_proxy }}
{% endif %}
{% if https_proxy is defined and https_proxy %}
export https_proxy={{ https_proxy }}
export HTTPS_PROXY={{ https_proxy }}
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"
